<% include ../common/head %>

<main class="row">
    <div class="columns">

        <h1>Reset Password</h1>

        <form action="/login/reset/<%= requester.reset_token %>" method="POST">

            <label for="Username">Username
                <input type="email" name="username" id="Username" disabled value="<%= requester.email %>">
            </label>

            <label for="Username">Password
                <input type="password" name="password" id="Password">
            </label>

            <input type="hidden" name="_csrf" value="<%= request.csrfToken() %>">

            <button type="submit" class="button success">Reset</button>
        </form>
    </div>
</main>

<% include ../common/footer %>