<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <%- meta %>
    <%- styles %>
</head>
<body>