/**
 * Environment Configuration.
 * @type {{}}
 */
module.exports = {

    appKey: "<%=appKey%>",

    environment: "local",

    url: "<%=url%>",

    port: <%=port%>,

    proxy: null,

    db: "<%=db%>",

    debug: true,

    nodemailer_transport: null,
};