/**
 * Environment Configuration.
 * @type {{}}
 */
module.exports = {

    env: ENV_LOCAL,

    url: "http://localhost",

    port: <%=port%>,

    proxy: undefined,

    /**
     * The database credentials.
     * @type Object
     */
    db: {
        driver: require('expressway/src/drivers/MongooseDriver'),
        hostname: "<%=dbHostname%>",
        database: "<%=dbDatabase%>",
        username: null,
        password: null
    },

    debug: true,

    nodemailer_transport: null,

    deploy: {
        host: null,
        username: null,
        privateKey: null,
        //path: "/var/www/html/where"
    }
};